@import url('https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Roboto');
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-image: url("../img/grey_wash_wall.png");
    font-family: 'Roboto', Arial, serif;
    color: #333;
}
.home-container {
    display: flex;
    flex-direction: column-reverse;
    height: 100vh; /*for ie11 */
    min-height: 100vh;
}
.main-nav {
    background-color: #eee;
    display: flex;
    flex-direction: row;
}
.main-nav-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    list-style: none;
}
.main-nav-item  {
    padding: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    color: #333;
    align-items: center;
    justify-content: center;
}
.main-nav i {
    font-size: 2.0rem;
    color: #333;
}
.main-nav a {
    text-decoration: none;
    text-align: center;
}
.main-nav span {
    /*visibility: hidden;*/
    display: none;
}

.content-container {
    display: flex;
    flex: 1;
}
.content-body {
    display: flex;
    flex: 1;
}
.bbMain {
    flex: 1;
    background: rgba(220,237,200,0.3);
}
.nav-color {
    background-color: #ccc;
}
.nav-color-i  {
    color: #388E3C !important;
}

/* Portfolio styling*/

.portfolioNavList {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.portfolioNavList li{
    padding: 1.0rem 1.5rem;
    font-weight: bold;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.portfolioNavList i {
    font-size: 2.0rem;
    color: #333;
}
.portfolioDropList {
    display: none;
}

.bbNav,.bbAside {
    display: none;
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .home-container {
        display: flex;
        flex-direction: column;
        height: 100vh; /*for ie11 */
        min-height: 100vh;
    }
    .main-nav{
        background-color: #eee;
        display: flex;
        flex-direction: row;
    }
    .main-nav-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
    }
    .main-nav-item {
        padding: 1.0rem 2.5rem;
        font-size: 1.3rem;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        flex: none;
        flex-direction: column;
        color: #333;
        cursor: pointer;
    }
    .main-nav span {
        display: flex;
        color: #333333;
    }
    .main-nav li:hover {
        background: #ccc !important;
    }
    .main-nav li:hover i{
        color: #388E3C !important;
    }
    .bbMain {
        /*flex: 1;*/
        background: rgba(220,237,200,0.3);

        /*padding: 10px;*/
        /*margin: 0 200px;*/
    }
    .bbAside, .bbNav {
        flex: 0 0 12em;
        display: inherit;
    }
    .bbNav {
        order: -1;
    }
    .bbNav li {
        cursor: pointer;
        /*min-height: 50px;*/
        padding-right: 0;
    }
    .bbNav li:hover {
        background: #ccc !important;
    }
    .bbNav li:hover i{
        color: #388E3C !important;
    }
}